extends layouts/main

block content
    #content
        div
            .left-side
                ul(id="issueList")
                    each issue in issues
                        li
                            div(data-issue=issue.name) #{issue.name}
            div(class="right-side" id="rightSide")
    script(src="/static/js/main.js")

            

    